html {
  min-width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;

}

ul {
  padding: 0;
}

.nav-tab_container {
  text-align: center;
}
.nav-tab_list {
  list-style: none;
  font-size: 0;
}
.nav-tab_list-item {
  display: inline-block;
  font-size: 16px;
  padding: 5px 10px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;

  &:last-child {
    border-right: 1px solid black;
  }
}

.nav-tab_link {
  text-decoration: none;
  color: black;
}

.gallery_wrapper {

}

.gallery_container {
  display: none;
  list-style: none;
  font-size: 0;
}
.gallery_item {
  display: inline-block;
  width: 33.233333333333333%;

  img {
    width: 100%;
    height: auto;
    padding: 5px;
    box-sizing: border-box;
  }
}


.gallery_dog {
  display: block;
}